{#- Partial template for rendering a single struct type -#}
{#- Expected context: item (MappedStruct) -#}
{%- macro render_type(item) -%}
// Struct: {{ item.name }}
// Source: {{ item.source_path }}
struct {{ item.name }} {
{%- for field in item.fields %}
    {{ field.name }}: {{ field.type }};
{%- endfor %}
}
{%- endmacro -%}

{#- Render type if item is provided directly in context -#}
{%- if item is defined -%}
{{ render_type(item) }}
{%- endif -%}
